.folder {
  padding-left: 20px;
}

.folder-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.folder-name {
  font-weight: 500;
  margin: 0;
  padding: 5px;
}

.input_container {
  padding-left: 25px;
}

.folder-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.create-btns {
  display: flex;
  width: 120px;
  justify-content: space-between;
}

.create-btns button {
  cursor: pointer;
}